{% extends 'layout.html' %}
{% block body %}
<div class="addtodo">
  <div class="container">
    <h2 class="mt-4">Update ToDo</h2>
  </div>
  <form class="container mb-4 mt-2 mx-10" action="/update/{{updatetodo.sno}}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control bg-body-tertiary border border-secondary"" value="{{updatetodo.title}}" name="title" id="title">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control bg-body-tertiary border border-secondary"" value="{{updatetodo.description}}" name="description"
        id="description">
    </div>
    <button type="submit" class="btn btn-primary mt-4 border border-secondary"">Update</button>
  </form>
</div>
{% endblock body %}